@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

body{
  background:#2c3e50;
  font-family: 'Open Sans', sans-serif;
}

h1, button{
  color:#fff;
  text-align: center;
  padding: 20px;
}

p{
  color:#fff;
  text-align: center;
  padding-top: 500px;
  font-size: 10px;
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#2ecc71;
}

.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:20px;
  font-weight:450;
  margin: 0 0 0 100px;
}






/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:#5264AE;
  color:aliceblue;
  border: none;
  padding: 20px;
  width: 120px;
  height:20px;
  line-height:0px;
  transition: all 0.5s;
  font-weight:600;
  margin-left:979px;
  
  
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}

